body, 
html {
    margin: 0;
    padding: 0; 
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f6ffc7;
}

#root {
    max-width: 1280px;
    margin: 0 auto;

    margin-bottom: 500px;
    padding-top: 2rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;

    max-width: 500px;
    width: 300px;
    
    background-color: #e18b39;
    color: rgb(255, 255, 255);

    font-size: 12px;
    font-weight: bold;

    padding: 0.8rem 1.5rem 0;
    margin: 0 auto 1rem auto;
    border-radius: 30px;
}

.Navbar-message {
    max-width: 500px;
    width: 90%;
    
    background-color: #c8660a;

    font-size: 12px;
    font-weight: normal;

    display: block;
    text-align: left;
    border-radius: 10px;

    padding: 0;
    margin: 0 auto 1rem auto;
}

button {
    background-Color: #e49041;
    color: white;
    margin: 0 auto;
    border: none;
    padding: 10px 15px;
    border-Radius: 5px;
    cursor: pointer;
}

.delete-button {
    flex-shrink: 0; 
    
    background-color: #cc782a; 
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EnterYourNote {
    background-Color: #ffd699ff;
    color: #4b1b00;
    
    margin: 0;
    border: none;
    padding: 15px;
    border-Radius: 5px;
}

.no-notes-message {
    color: #ffb006;
    font-style: italic;
    margin-top: 20px;
}

.note-item {
    max-width: 500px;
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    flex-wrap: wrap;

    color: #ffffff;
    border-radius: 10px;
    
    margin-bottom: 10px; 
}

.note-text {
    flex-grow: 1; 
    
    flex-basis: 90%;
    
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    
    margin-right: 0; 
    
    max-width: calc(100% - 70px);
}