body, 
html {
    margin: 0;
    padding: 0; 
    width: 100%;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}