body, 
html {
    margin: 0;
    padding: 0; 
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f6ffc7;
}

#root {
    max-width: 1280px;
    margin: 0 auto;

    margin-bottom: 500px;
    padding-top: 2rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Navbar {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 500px;
    width: 300px;
    
    background-color: #e18b39;
    color: rgb(255, 255, 255);

    text-align: center;
    font-size: 12px;
    font-weight: bold;

    padding: 0.8rem 1.5rem 0;
    margin: 0 auto 1rem auto;
    border-radius: 30px;
}

.EnterYourNote {
    background-Color: #ffd699ff;
    color: #c77a32;
    
    margin: 0 auto;
    border: none;
    padding: 15px;
    border-Radius: 5px;
}

.no-notes-message {
    color: #ffb006;
    font-style: italic;
    margin-top: 20px;
}

button {
    background-Color: #cc782a;
    color: white;
    margin: 0 auto;
    border: none;
    padding: 10px 15px;
    border-Radius: 5px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}